<ul class="all-blog-posts">
    <% if(blogPosts.length == 0) { %>
    <h2>No posts have been added. Check back later</h2>
    <% } else { %>
    <li>
        <p class="blog-post-time"><%= blogPosts[0].created %></p>
        <h2><%= blogPosts[0].post_title %></h2>
        <p><%= blogPosts[0].post_content %></p>
    </li>
    <hr>
    <% for(let i=1;i<blogPosts.length;i++) { %>
    <li>
        <p class="blog-post-time"><%= blogPosts[i].created %></p>
        <h2><%= blogPosts[i].post_title %></h2>
        <p><%= blogPosts[i].post_content %> &nbsp
            <a href="/posts/<%= blogPosts[i].id %>">Read More</a>
        </p>
        
    </li>
    <hr>
    <% } %>
    <% } %>
</ul>