<%- include("header"); -%>
<%- include("navbar"); -%>
<p class="blog-post-time"> <%= blogPost.created %> </p>
<h2><%= blogPost.post_title %></h2>
<p style="margin-bottom: 2vh"><%= blogPost.post_content %></p>
<%- include("footer"); -%>